#Tools for Data Science

In this notebook, Tools for Data Science are summarized

Some of the popular languages that data scientists are use:
1. Python
2. R
3. SQL
4. C++
5. Java etc.;

Some of the commonly used libraries used by Data scientists include:
1. Tensorflow
2. Numpy
3. Scipy
4. Pandas
5. Matplotlib
6. Keras
7. SciKit-Learn
8. PyTorch etc.;

|Data Science Tools|
|---|
|SAS|
|Anaconda|
|Jupyter Notebooks|
|Apache Hadoop|
|TensorFlow|

# Below are the few examples of evaluating Arithmatic Expressions in Python

In [1]:
#this is a common arithmatic example to multiply than add the integers
(3*4)+5

17

In [2]:
#This will convert 200 mintues to hours by dividing with 60
200/60

3.3333333333333335

__Objectives__
* Create markdown cells
* List popular languages for Data Science
* List popular libraries for Data Science
* List Data Science Tools
* Provide comment in the cell

# Author
Devraj Parmar